*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

body{
    background-image: url('/static/list_app/paris.jpg');
    background-size: 100%;
    /* background-position: center; */
    background-position-y: -90px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table{
    background-color: whitesmoke;
    margin: 10px;
}
