<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Item</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'list_app/style.css' %}">

</head>

<body>

    <h1>What would you like to add, {{ user.first }}?</h1>
    <a href='/dashboard'><button>Home</button></a><a href='/logout'><button>Logout</button></a><br><br>
    <table border="1">
        <form action='/add' method='post'>
            {% csrf_token %}
            Item Name:
            <input type="text" name="name" />
            <br>
            <br>
            <input type="submit" value="Add New Item" />
        </form>

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

</body>

</html>